{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Add Company SKU{% endblock %} {% block body %}

<section>
    <div class="section-body">
        <div class="row">

            <div class="col s12">
                <div class="card">
                    <div class="card-head">
                        <header>Add Company SKU</header>
                        <div class="tools">
                            <!-- <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a> -->
                            <a href=" {% url 'shop:product_list'  %}">
                            <class="btn btn-icon-toggle btn-close">
                                <i class="md md-close"></i>
                            </a>
                        </div>
                    </div>

                    {% if messages %} {{ message }}
                    <ul class="messages">
                        <div id="modal1" class="modal">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                        </div>
                    </ul>
                    {% endif %}

                    <div class="card-body">

                        <form class="col s12" action="#" method="POST">{% csrf_token %}

                            <div class="row">

                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_Product_SKU">Product SKU:</label> {{ form.Product_SKU}}

                                    </p>
                                </div>
                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_company_sku">Company sku:</label> {{ form.company_sku }}</p>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_company_name">Company name:</label> {{ form.company_name}}

                                    </p>
                                </div>

                                <div class="input-field col s6">
                                    <div class=" input-field">
                                        <button class="btn cyan waves-effect waves-light" type="submit" value="SUBMIT">Submit
                                            <i class="material-icons right">send</i>

                                    </div>

                                </div>

                            </div>

                        </form>

                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">

                                    <a href=" {% url 'shop:product_list'  %}">
                                        <button type="submit" class="btn cyan waves-effect waves-light right" style="margin-top:-125px"><i class=" close material-icons right white-text">close</i>Close</button>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}