
{% extends "ordermanage/base.html" %}
{% load staticfiles %}
 {% block title %}Create{% endblock %}

{% block body %}

<section>
       <div class="section-body">
               <div class="row">
                       <div class="col s12">
                               <div class="card">
                                       <div class="card-head">
                                               <header>Create Inventry</header>
                                               <div class="tools">
                                                       <a class="btn btn-icon-toggle btn-collapse">
                                                               <i class="fa fa-angle-down"></i>
                                                       </a>
                                                       <a class="btn btn-icon-toggle btn-close">
                                                               <i class="md md-close"></i>
                                                       </a>
                                               </div>
                                       </div>

                                       
                                       
               <div class="card-body">
                    <div class="table-responsive">
                         <form class="col s6" action="#" method="POST" enctype="multipart/form-data"><table id="datatable2" class="table order-column hover">
                            <thead>
                                <tr>
        
                                    <th>Category</th> 
                                    <th>Slug</th>  
                                </tr>
                            </thead>
        
        
                        <tbody>
                          {% for category in all_category %}
                            <tr>
                                <td>{{category.name}}<br></td>
                                <td>{{category.slug}}</a></td>
                            </tr>
                        {% endfor %}
                </tbody> 
                </table>
                   
                       <div class="row">
                       <div class="input-field col s6">
                               
                       <!-- <input type='hidden' name='csrfmiddlewaretoken' value='iVyGFHh90fUHafbhIaaULgg5U4kIwDsoiUxZVXpQbWMjdBrU5M9iEwYogBfgnfGZ' />  -->
                       {% csrf_token %}
                       <p><label for="id_Product_SKU">Category Name:</label> 
                       {{ form.as_p }}
                                      
                       <div class="input-field col s6">
                                <input type="submit" value="SUBMIT">
                        </div></div>
                      
                       
                    </form>
                </div>
             </div>
                </div>
               </div>
       </div>
       </div>
</section>
{% endblock %}