{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Existing Inventory{% endblock %} {% block body %}

<section>
    <div class="section-body">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-head">
                        <header>Stock Inventry</header>
                        <div class="tools">
                            <!-- <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a> -->
                            <a href=" {% url 'shop:product_list'  %}">
                            <class="btn btn-icon-toggle btn-close">
                                <i class="md md-close"></i>
                            </a>
                        </div>
                    </div>

                    <div class="Order" style="padding:29px;">
                        <div class="Table">
                            <table class="table table-striped table-condensed">
                                <thead class="thead">
                                    <tr>

                                        {% comment %}
                                        <th>
                                            <input type="checkbox" id="checkAll">
                                        </th> {% endcomment %}
                                        <a class="btn-floating btn-medium waves-effect waves-light red" href="{% url 'shop:addcompany' %}"><i class="material-icons">add</i></a>
                                        <th>
                                            <input type="checkbox" id="checkAll">
                                        </th>
                                        <th style="padding-left: 50px;">Product SKU</th>
                                        <th style="text-align: center;">Company SKU</th>
                                        <th style="padding-left: 10px;">Company Name</th>
                                        <th style="text-align: center;">Block Quantity</th>
                                        <th style="text-align: center;">Available Quantity</th>
                                        <th style="padding-left: 50px;">Product SKU Updated</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for company in companys %}

                                    <tr style=" line-height: 35px;">
                                        <td>
                                            <input type="checkbox" name="selectCheckbox" id="{{company.company_name}}">
                                        </td>
                                        <td style="font-size: 14px; text-align: center;">{{ company.Product_SKU }}</td>
                                        <td style="text-align: center">{{ company.company_sku }}</td>
                                        <td style="text-align: center">{{ company.company_name }}</td>
                                        <td style="font-size: 14px; text-align: center">{{ company.Product_SKU.block_quantity }}</td>
                                        <td style="font-size: 14px; text-align: center">{{ company.Product_SKU.available_quentity }}</td>
                                        <td style="font-size: 14px; text-align: center">{{ company.Product_SKU.updated }}</td>

                                    </tr>

                                    {% endfor %}

                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col s12">
                                    <div class="input-field">

                                        <a href=" {% url 'shop:product_list'  %}">
                                            <button type="submit" class="btn cyan waves-effect waves-light right"><i class=" close material-icons right white-text">close</i>Close</button>
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}