{% extends "ordermanage/base.html" %}
{% load staticfiles %}

{% block title %}Detail{% endblock %}

{% block body %}


<br>
<div class="row">
    <div class="col s12">
        <div class="clbody">
            <a href="{% url "shop:product_list" %}" style="font-size: 15px; color: #0e0e0e; padding-top: 20px;"> <b>Existing Inventory</b> </a>
        </div>
    </div>
</div>


  <div class="row">
        <div class="col s12">
        <div class="col s12 m4">
          <div class="card card-detail">
            <div class="card-image">
                 <center>   <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/img/no_image.png" %}{% endif %}" style="width: 94%; height: 170px; margin-top: 5px;"></center>
              
            </div>
            
            <!-- <div class="card-action cfont"> -->
                    <div class="card-action cfont">
              
              <a href="#">{{ product.name }}</a>
              <a href="{{ product.category.get_absolute_url }}">{{ product.category }}
                    <a href="#">{{ product.created }}</a>
              
            </div>
          </div>
        </div>


        <div class="col s12 m4">
                <div class="card card-detail" >
                        <div class="col s12 ">
                                <h2 class="heading-h2" >Product Information</h2>

                              </div>
                  <div class="card-content">
                    <table class="table table-striped table-condensed">
                            <tr>
                              <th>Product Dimension</th>
                                <td>{{  product.Product_Dimensions|linebreaks }}</td>
                            </tr>
                    
                            <tr>
                              <th>Color</th>
                                <td>{{  product.Color|linebreaks }}</td>
                            </tr>
                            <tr>
                              <th>ASIN</th>
                                <td>{{  product.ASIN|linebreaks }}</td>
                            </tr>
                    
                            <tr>
                              <th>Material Type</th>
                                <td>{{  product.Material_Type|linebreaks }}</td>
                            </tr>
                            <tr style>
                              <th>Model Number</th>
                                <td>{{  product.Model_Number|linebreaks }}</td>
                            </tr>
                            </table> 
                </div>
                  
                </div>
              </div>

              <div class="col s12 m4">
                    <div class="card card-detail">
                      
                      <div class="col s12 ">
                            <h2 class="heading-h2">Bullet Points</h2>

                          </div>
                      <div class="card-content">
                        
                        {{  product.bulletpoints|linebreaks }}  
                    </div>
                      
                    </div>
                  </div>
              </div>

      </div>




      <div class="row">
      <div class="col s12">
            <div class="card card-dis">
                    <div class="col s12 ">
                            <h2 class="heading-h2">Product Description</h2>

                          </div>
              <div class="card-content text-justify">
                
                {{ product.description|linebreaks }}  

            </div>
              
            </div>
          </div>
        </div>



        
{% endblock %}
