{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Existing Inventory{% endblock %} {% block body %}

<section>
    <div class="section-body">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-head" style="background:#00bfa5;">
                        <header>Inventry Range 99 t0 20</header>
                        <div class="tools">
                            <!-- <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a> -->
                            <a href=" {% url 'shop:product_list'  %}">
                                <class="btn btn-icon-toggle btn-close">
                                    <i class="md md-close"></i>
                                </a>
                        </div>
                    </div>

                    <div class="Order" style="padding:29px;">
                        <div class="Table">
                            <table class="table table-striped table-condensed">
                                <thead class="thead">
                                    <tr>

                                        {% comment %}
                                        <th>
                                            <input type="checkbox" id="checkAll">
                                        </th> {% endcomment %}

                                        <th>
                                            <input type="checkbox" id="checkAll">
                                        </th>

                                        <th>Merchant_SKU</th>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Product ID</th>
                                        <th>Created Date</th>
                                        <th>Updated Date</th>
                                        <th>Total Items</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for inventory_twenty in inventory_twenty %}

                                    <tr style=" line-height: 35px;">
                                        <td>
                                            <input type="checkbox" name="selectCheckbox">
                                        </td>

                                        <td><a href="{{ inventory_twenty.get_absolute_url }}">{{ inventory_twenty.Product_SKU }}</a>
                                            <br>
                                         </td>
                                        <td>
                                            <a href="{{ inventory_twenty.get_absolute_url }}">
                                                <img src="{% if inventory_twenty.image %}{{ inventory_twenty.image.url }}{% else %}{% static " shop/img/no_image.png "%}{% endif %}" style="width: 150px;height: 80px;"></a>
                                        </td>
                                        <td><a href="{{ inventory_twenty.get_absolute_url }}" style="    line-height:20px; font-size: 14px; color: #0e65a0;">{{ inventory_twenty.name }}</a></td>
                                        <td style=" font-size: 14px;">{{ inventory_twenty.Product_id }}</td>
                                        <td style="font-size: 13px; padding-left: 0px;">{{ inventory_twenty.created }}</td>
                                        <td style=" font-size: 13px;">{{ inventory_twenty.updated }}</td>
                                        <td style="font-size: 14px;padding-left: 40px;">
                                            <div>{{ inventory_twenty.available_quentity }}</div>
                                        </td>
                                        <td><a href="{% url 'shop:edit' id=inventory_twenty.id %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i></a></td>

                                    </tr>

                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>
<div class="col l6 m6 s12">
    <div class="row">
        <div class="form-group1">

            <a href=" {% url 'shop:product_list'  %}">
                <button type="submit" class="btn waves-effect waves-light" href="{% url 'shop:product_list'  %}"><i class=" close material-icons right white-text">close</i>Close</button>
            </a>

        </div>
    </div>
</div>
{% endblock %}