{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Create{% endblock %} {% block body %}

<section>
    <div class="section-body">
        <div class="row">
            <div class="col s12">
                    
                <div class="card">
                    <div class="card-head">
                        <header>Add Company</header>
                        <div class="tools">
                            <!-- <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a> -->
                            <a href=" {% url 'response'  %}">
                            <class="btn btn-icon-toggle btn-close">
                                <i class="md md-close"></i>
                            </a>
                        </div>
                        <!-- <div class="tools">
                            <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <a class="btn btn-icon-toggle btn-close">
                                <i class="md md-close"></i>
                            </a>
                        </div> -->
                    </div>

                    {% if messages %} {{ message }}
                    <ul class="messages">
                        <div id="modal1" class="modal">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                        </div>
                    </ul>
                    {% endif %}

                    <div class="card-body">
                        <div class="table-responsive">
                                <div class="row">
                                <div class="col s12">
                                        <hr><p><h3>With Private App</h3></p>
                                    <div class="input-field col s2">
                                        <div class=" input-field">
                                        <a href="{% url 'response'  %}">
                                            <button class="btn cyan waves-effect waves-light" type="submit" value="Order by Shopify">Order by Shopify
                                        </button></a>                                    
                                        </div>
                                    </div>
                                    <div class="input-field col s2">
                                            <div class=" input-field">
                                            <a href="{% url 'fullfill'  %}">
                                                <button class="btn cyan waves-effect waves-light" type="submit" value="Order by Shopify">Order Fullfillments
                                            </button></a>                                   
                                            </div>
                                        </div>
                                        <div class="input-field col s2">
                                            <div class=" input-field">
                                                <a href="{% url 'create_product'  %}">
                                                    <button class="btn cyan waves-effect waves-light" type="submit" value="">Create Products
                                                </button></a>                                    
                                            </div>
                                        </div>

                                            <div class="input-field col s2">
                                                    <div class=" input-field">
                                                    <a href="{% url 'inventory'  %}">
                                                        <button class="btn cyan waves-effect waves-light" type="submit" value="Order by Shopify">Inventory Update
                                                            </button></a>                                    
                                                    </div>
                                                </div>
                                                
                                </div>
                            </div>
                            <hr><p><h3>With Access token</h3></p>
                            <div class="row">
                                <div class="col s12">
                                    <div class=" input-field ">
                                            <div class="input-field col s2">
                                                    <div class=" input-field">
                                                    <a href="{% url 'orderresponse'  %}">
                                                        <button class="btn cyan waves-effect waves-light" type="submit" value="Order by Shopify">Order by Shopify
                                                    </button></a>                                    
                                                    </div>
                                                </div>
                                                <div class="input-field col s2">
                                                        <div class=" input-field">
                                                        <a href="{% url 'orderfullfill'  %}">
                                                            <button class="btn cyan waves-effect waves-light" type="submit" value="Order by Shopify">Order Fullfillments
                                                        </button></a>                                   
                                                        </div>
                                                    </div>
                                                    <div class="input-field col s2">
                                                        <div class=" input-field">
                                                            <a href="{% url 'createproduct'  %}">
                                                                <button class="btn cyan waves-effect waves-light" type="submit" value="">Create Products
                                                            </button></a>                                    
                                                        </div>
                                                    </div>
            
                                                        <div class="input-field col s2">
                                                                <div class=" input-field">
                                                                <a href="{% url 'updateproduct'  %}">
                                                                    <button class="btn cyan waves-effect waves-light" type="submit" value="Order by Shopify">Inventory Update
                                                                        </button></a>                                    
                                                                </div>
                                                            </div>
                                                            
                                            </div>
                                        </div>

                                        <!-- <a href=" {% url 'response'  %}">
                                            <button type="submit" class="btn cyan waves-effect waves-light right"><i class=" close material-icons right white-text">close</i>Close</button>
                                        </a> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}