{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Dashboard{% endblock %} 
{% if request.user.is_authenticated and request.user.is_active %}

{% block body %}

<section id="content">    
    <div class="container">        
            {% if messages %}
                <ul class="messages">
                    <div id="modal1" class="modal">
                        <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </div>
                </ul>
            {% endif %}     
    </div>
    
</section>
<div class="section-body">
        <div class="row">

            <div class="col s12">
                <div class="card">
                    <div class="card-head">
                        <header>FedEx Configrations</header>
                        <div class="tools">
                            <!-- <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a> -->
                            <a href=" {% url 'shop:product_list'  %}">
                                <class="btn btn-icon-toggle btn-close">
                                    <i class="md md-close"></i>
                                </a>

                        </div>
                    </div>

                    {% if messages %} {{ message }}
                    <ul class="messages">
                        <div id="modal1" class="modal">
                            <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                        </div>
                    </ul>
                    {% endif %}

                    <div class="card-body">
                        <form class="col s6" action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
                            <div class="input-field col s6">
                                {{ form.as_p }}
                                <input type="submit" name="submit">
                            </div>
                        </form>
                    <div class="table-wrap col s6">
                        <div class="table-responsive">
                        <table id="data-table-simple" class="responsive-table display" cellspacing="0">                                    <thead>
                            <thead> 
                                <tr>
                                    
                                    <th>Development Key</th>
                                    <th>Account number</th>
                                    <th>Meter number:</th>                                            
                                    
                                </tr>
                            </thead>
                            <tbody>
                            {% for query in query_set%}
                            <tr>
                                <td>{{query.key}}</td>
                                <td>{{query.account_number}}</td>
                                <td>{{query.meter_number}}</td>
                            </tr>
                            {% endfor %}
                                
                            </tbody>

                        {% comment %} <div class="row ">
                            <div class=" input-field col s12">
                                <a href=" {% url 'shop:product_list'  %}">
                                    <button type="submit" class="btn cyan waves-effect waves-light right" style="margin-top:-125px"><i class=" close material-icons right white-text"> close </i> Close</button>
                                </a>

                            </div>
                        </div> {% endcomment %}

                    </div>
                </div>
            </div>
        </div>
    </div>

<section>
  
</section>

 {% endblock %} 



{% endif %}