{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <h1>Dashboard</h1>
    <p>Welcome to your dashboard. </p>
    <a href="{% url "logout" %}" class="btn btn-info" role="button">Logout</a>

{% endblock %}
