{% extends "base.html" %}
{% block content %}
<div id="sidebar">
  <h3>Where to start</h3>
  <h4>Check out <code style="font-size: 140%">home/views.py</code></h4>

  <p class="description">
    The index view in this demo application fetches the latest 3 orders and products and makes them available as context variables <code style="color: #218BCE">orders</code> and <code style="color: #218BCE">products</code>.
  </p>

  <h4>Check out the <code>home/index1.html</code> template</h4>

  <p class="description">
    This is the Django template you are currently looking at. It is located at:<br />
  </p>

  <p style="background: #fff; margin-left: 4px"><code>home/templates/home/index.html</code></p>

  <p class="description">
    Have a look at the markup and Django template code to see how the Shopify API is being used.
  </p>

  <h3>Additional documentation</h3>

  <p class="description">
    Become an expert:
  </p>

  <ul>
    <li>
      <a href="http://www.shopify.com/developers/api/">API documentation</a>
      <span class="note">The reference: what you can do with the Shopify API.</span>
    </li>
    <li>
      <a href="http://wiki.shopify.com/">Wiki</a>
      <span class="note">Get more information and share your knowledge.</span>
    </li>
    <li>
      <a href="http://forums.shopify.com/community">Forum</a>
      <span class="note">Ask questions and see what others already wanted to know.</span>
    </li>
  </ul>

  <h3>Once you're ready</h3>

  <p class="description">
    We'd love to see what you create using the Shopify API. 
    Find out how to share your application with the world and read the latest information on the <a href="http://www.shopify.com/developers/publishing/">API Publishing Page</a>.
  </p>
</div>


<div id="orders">
  <h2>Your recent orders</h2>
  {% if orders %}
    <ul>
    {% for order in orders %}
      <li>
        <div class="order box">
          <div class="wrapper">
            <strong><a href="https://{{ current_shop.domain }}/admin/orders/{{ order.id }}">{{ order.name }}</a></strong>
            <span class="price">{{ order.total_price }} {{ order.currency }}</span>
            <span class="highlight">{{ order.financial_status }}</span>
            by <span class="note">{{ order.billing_address.name }}</span>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <em class="note">There are no orders in your store.</em>
  {% endif %}
</div>


<h2>Some of your products</h2>

{% for product in products %}
  <div class="product box">
    <div class="wrapper">
      {% if products.images %}
        <img src=="{{ product.images.first.small }}" />
      {% endif %}

      <h4><a href="https://{{ current_shop.domain }}/admin/products/{{ product.id }}">{{ product.title }}</a></h4>

      <p class="price">{{ product.price_range }} {{ current_shop.currency }}</p>
      <p style="margin-bottom: 0">{{ product.product_type }} <span class="note">type</span></p>
      <p style="margin: 0">{{ product.vendor }} <span class="note">vendor</span></p>

      <div style="clear:left"></div>
    </div>
  </div>
{% empty %}
  <em class="note">There are no products in your store.</em>
{% endfor %}

{% endblock %}
