 {% load static %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'mvppage/js/move-top.js' %}"></script>{# for scrolling up page #}
<script src="{% static 'mvppage/js/jquery.easing.min.js' %}"></script> {#used for srolling up nd down the paqge#} {# used to pop up login #}


<!-- for displaing error message on form -->
<!-- <script>
    $(function() {
        $("#contact-form").submit(function(e) {
            e.preventDefault();
            $form = $(this);

            $.post(document.location.url, $(this).serialize(), function(data) {
                $feedback = $("<div>").html(data).find(".form-feedback");

                $form.prepend($feedback);

            });
        });
    })
</script> -->
{% comment %} <script>
    $(document).ready(function() {
        $("#myBtn").click(function() {
            $("#myModal").modal();
        });
    });
</script> {% endcomment %}
<script>
    $(function() {
        $("#contact-form").submit(function(e) {
            e.preventDefault();
            $form =$(this);
            $.post(url, $(form).serialize())
            
        function(data){
            $feedback = $("<div>").html(data).find(".form-feedback"); 
            
            if( $('#eror').length ){
                $('#eror').remove();
                
            }
            $form.prepend($feedback);
                
            
        });
    });
            
    
    </script>
    
    

<script>
    $(document).ready(function() {
        $("#SignUpBtn").click(function() {
            $("#SignUpModal").modal();
        });
    });
</script>



{# used to slide to reespective content onclick to menubr #}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>


{# Dropdown menu in modile mode#}
<script>
    $(function() {
        var pull = $('#pull');
        menu = $('nav ul');
        menuHeight = menu.height();
        $(pull).on('click', function(e) {
            e.preventDefault();
            menu.slideToggle();
        });
        $(window).resize(function() {
            var w = $(window).width();
            if (w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });
    });
</script>



{# for scrolling up page #}
<script type="text/javascript">
    $(document).ready(function() {

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

</script>