{% extends "base.html" %} {% load staticfiles %} {% block title %}Log-in{% endblock %} {% block content %}

<div class="main-header">
    <!--- start-header---->
    <div id="home" class="header">

        <div class="container">
            <div class="logo">
                <img src="{% static 'mvppage/images/logo.png' %}" class="img1" alt="">
            </div>

            <!--start-top-nav---->

            <nav class="top-nav">
                <ul class="top-nav">
                    <li class="active"><a href="#home" class="scroll">Home </a></li>
                    <li><a href="#about" class="scroll">About</a></li>
                    <li><a href="#services" class="scroll">Services</a></li>
                    <li><a href="#portfolio" class="scroll">Portfolio</a></li>
                    <li><a href="#team" class="scroll">Team</a></li>
                    <li><a href="#contact" class="scroll">Contact</a></li>
                    <li><a><span class="glyphicon glyphicon-log-in" id="myBtn" data-toggle="modal" data-target="#myModal" ></span>Login</a>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header" style="padding:35px 50px;">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                                    </div>
                                    <div class="modal-body" style="padding:40px 50px;">            
                                            {% if form.errors %}
                                                <div class="Invalid form-feedback" id="eror">
                                                    Oops! Your username and password didn't match. Please try again.
                                                </div>
                                            {% endif %}
                                            <form method="POST" action = "{% url 'mvp' %}" id="contact-form" name="contact">
                                                {% csrf_token %} 
                                                 
                                                {{ form.as_p }}
                                                <button type="submit" name="submit" class="btn btn-success btn-block">
                                                    <span class="glyphicon glyphicon-off"></span> Login</button>
                                                <input type="hidden" name="next"  id="next" value="{{ next }}" />
                                                <div class="panel-heading">
                                                    <div style="float:left; font-size: 60%; position: relative; top:-10px"><a href="{% url 'password_reset' %}">Forgot password?</a></div>
                                                    <div style="float:right; font-size: 60%; position: relative; top:-10px"><a href="{% url 'signup' %}">New User</a></div>
                                                </div>
                                            </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </li>
                </ul>
                <a href="#" id="pull"><img src="{% static 'mvppage/images/menu-icon.png' %}" title="menu" /></a>
            </nav>
        </div>
    </div>

</div>

<div id="top" class="callbacks_container">
    <ul class="rslides" id="slider4">
        <li>
            <!-- <div class="tittle-head">
			        		<h1>Simple landing page</h1>
			          		<p>Just for you. </p>
			          		<div class="learn-button">
			          			<a class="slide-btn" href="#">Download now</a>
			          		</div>
			          	</div> -->
        </li>
        <li>
            <!-- <div class="tittle-head">
			        		<h1>Lorem ipsum dolor</h1>
			          		<p>Just for you. </p>
			          		<div class="learn-button">
			          			<a class="slide-btn" href="#">Download now</a>
			          		</div>
			          	</div> -->
        </li>
        <li>
            <!-- <div class="tittle-head">
			        		<h1>Simple&pure design</h1>
			          		<p>Just for you. </p>
			          		<div class="learn-button">
			          			<a class="slide-btn" href="#">Download now</a>
			          		</div>
			          	</div> -->
        </li>
    </ul>
</div>
<div class="clearfix"> </div>
</div>
<!----- //End-slider---->
<div id="about" class="about">
    <div class="container">
        <div class="about-head">
            <h3>About</h3>
            <span>Who we are?</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet lectus congue mi viverra congue in sed leo. Nullam magna nisl, hendrerit non urna et, eleifend pulvinar augue. Suspendisse lacinia molestie ipsum ac semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel scelerisque purus.</p>
        </div>
    </div>

</div>
<!----- //End-about---->
<div id="services" class="services">
    <div class="container">
        <div class="gallery-head text-center">
            <h3>Services</h3>
            <p>What we do?.</p>
        </div>
        <div class="row text-center feature">
            <div class="col-md-4 service_grid">
                <i class="icon1"> </i>
                <h3>iOS Apps</h3>
                <p>Vestibulum odio risus, interdum fringilla vulputate ac, placerat in mi. Vivamus pharetra, mauris vitae cursus ultricies.</p>
            </div>
            <div class="col-md-4 service_grid">
                <i class="icon2"> </i>
                <h3>Windows Apps</h3>
                <p>Vestibulum odio risus, interdum fringilla vulputate ac, placerat in mi. Vivamus pharetra, mauris vitae cursus ultricies.</p>
            </div>
            <div class="col-md-4 service_grid">
                <i class="icon3"> </i>
                <h3>Android Apps</h3>
                <p>Vestibulum odio risus, interdum fringilla vulputate ac, placerat in mi. Vivamus pharetra, mauris vitae cursus ultricies.</p>
            </div>
        </div>
    </div>
</div>
<!---//End-services---->
<div class="portfolio">
    <div class="container">
        <div class="potrfolio-head">
            <h2>This .psd theme is absolutely free!</h2>
            <a class="prt-btn" href="#">Just download it!</a>
        </div>
    </div>
</div>
<div id="portfolio" class="potrfolio-content">
    <div class="container">
        <div class="port-head">
            <h3>Portfolio</h3>
            <p>Our work </p>
        </div>
        <div id="portfoliolist">
            <div class="portfolio-grids">
                <div class="portfolio-wrapper">
                    <div class="view second-effect">
                        <img src="{% static 'mvppage/images/p-1.png' %}" />
                        <div class="mask">
                            <a href="#" class="info">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-grids">
                <div class="portfolio-wrapper">
                    <div class="view second-effect">
                        <img src="{% static 'mvppage/images/p-2.png' %}" />
                        <div class="mask">
                            <a href="#" class="info">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-grids">
                <div class="portfolio-wrapper">
                    <div class="view second-effect">
                        <img src="{% static 'mvppage/images/p-3.png' %}" />
                        <div class="mask">
                            <a href="#" class="info">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-grids">
                <div class="portfolio-wrapper">
                    <div class="view second-effect">
                        <img src="{% static 'mvppage/images/p-4.png' %}" />
                        <div class="mask">
                            <a href="#" class="info">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-grids">
                <div class="portfolio-wrapper">
                    <div class="view second-effect">
                        <img src="{% static 'mvppage/images/p-5.png' %}" />
                        <div class="mask">
                            <a href="#" class="info">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---//End-portfolio---->
<!---//End-portfolio---->
<div id="team" class="team">
    <div class="container">
        <div class="team-head">
            <h3>The team </h3>
            <p>Meet us!</p>
        </div>
        <div class="row text-center teams">
            <div class="col-md-4 team_grid">
                <div class="view2 second-effect2">
                    <img src="{% static 'mvppage/images/tm-1.png' %}" />
                    <div class="mask">
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <h3>John Appleseed</h3>
                <p>Vestibulum odio risus, interdum fringilla vulputate ac, placerat in mi. Vivamus pharetra, mauris vitae cursus ultricies.</p>
            </div>
            <div class="col-md-4 team_grid">
                <div class="view2 second-effect2">
                    <img src="{% static 'mvppage/images/tm-2.png' %}" />
                    <div class="mask">
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <h3>John Appleseed</h3>
                <p>Vestibulum odio risus, interdum fringilla vulputate ac, placerat in mi. Vivamus pharetra, mauris vitae cursus ultricies.</p>
            </div>
            <div class="col-md-4 team_grid">
                <div class="view2 second-effect2">
                    <img src="{% static 'mvppage/images/tm-3.png' %}" />
                    <div class="mask">
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <h3>John Appleseed</h3>
                <p>Vestibulum odio risus, interdum fringilla vulputate ac, placerat in mi. Vivamus pharetra, mauris vitae cursus ultricies.</p>
            </div>
        </div>
    </div>
</div>
<!---//End-team---->
<div class="contact">
    <div class="container">
        <div class="contact-head">
            <h3>It's Still free!</h3>
            <a class="con-btn" href="#">Just download it!</a>
        </div>
    </div>
</div>
<div id="contact" class="feedback">
    <div class="container">
        <div class="feed-head">
            <h3>Contact </h3>
            <p>Get in touch!</p>
        </div>
        <div class="feed-contact">
            <div class="col-md-8 contact-form">
                <form>
                    <input type="text" class="textbox" value="Name" onfocus="this.value = '';" onblur="if (this.value = 'Name') {this.value = 'Name';}">
                    <input type="text" class="textbox" value="E-mail" onfocus="this.value = '';" onblur="if (this.value ='E-mail') {this.value = 'E-mail';}">
                    <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                    <input type="submit" value="Send a message" style="height: auto; ">

                </form>
            </div>
            <div class="col-md-4 address ">
                <h3>Our company </h3>
                <p>55 Main St.Toronto</p>
                <p>1234 City Road,city Name.</p>
                <p>+1534 432 123</p>
                <p>Contact@company name</p>
                <br>
                <br>

                <h3>Follow Us: </h3>
                <div class="footer-icons ">
                    <ul class="soc_icons unstyled-list list-inline ">
                        <li><a href="# "><i class="icon_1 "></i></a></li>
                        <li><a href="# "><i class="icon_2 "></i></a></li>
                        <li><a href="# "><i class="icon_3 "></i></a></li>
                        <li><a href="# "><i class="icon_4 "></i></a></li>
                        <div class="clearfix "> </div>
                    </ul>
                </div>
            </div>
            <div class="clearfix "> </div>
        </div>
    </div>
</div>
<div class="footer ">
    <div class="container ">

        <div class="copy-right ">
        </div>
        <div class="clearfix "> </div>
    </div>
</div>

<a href="# " id="toTop " style="display: block; "> <span id="toTopHover " style="opacity: 1; "> </span></a>

{% endblock %}