<table>
    <tr>
       <th>PO</th>
      <th>Company name</th>
      
      <th>Courier Method</th>
      <th>Directory Name</th>
      <th>Order Date</th>
      <th>PickUp Date</th>
      <th>Status</th>
      <th>Invoice Send</th>
      <th>Remark</th>
     
    </tr>
   {% for query in query_results_order %}
    <tr>
      <td>{{query.po}}</td>
      <td>{{query.name}}</td>
      <td>{{query.courier_method}}</td>
      <td>{{query.Directory_Name}}</td>
      <td>{{query.order_date}}</td>
      <td>{{query.pickup_date}}</td>
      <td>{{query.status}}</td>
      <td>{{query.invoice_send}}</td>
      <td>{{query.remark}}</td>
    </tr>
    {% endfor %}
    
  </table>