{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Log-in{% endblock %}
{% block css %}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}



main {
flex: 1 0 auto;
}

body {
background: #fff;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
border-bottom: 2px solid #e91e63;
box-shadow: none;
}


{% endblock %}

{% block content %}
<div class="section"></div>
<main>
    <center>
        <img src="{% static 'mvppage/images/logo.png' %}" class="img1" alt="eKnous Technology SOlutions Logo">
        <div class="section"></div>
        <h5 class="black-text">Please, login into your account</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                 <form class="col s12" method="POST" action="">{% csrf_token %}
                    <div class='row'>
                      <div class='col s12'>
                      </div>
                    </div>
        
                    <div class='row'>
                      <div class='input-field col s6'>
                        <input type='text' name='username' autofocus required id='id_username' maxlength="150"/>
                        <label for='id_username'>User Name</label>
                      </div>
                    
                      <div class='input-field col s6'>
                        <input type='text' name='first_name' autofocus id='id_first_name' maxlength="30"/>
                        <label for='id_first_name'>First Name</label>
                      </div>
                    </div>


                      <div class='row'>
                            <div class='input-field col s6'>
                        <input type='text' name='last_name' autofocus id='id_last_name' maxlength="30"/>
                        <label for='id_last_name'>Last Name</label>
                      </div>
                    
                        <div class='input-field col s6'>
                          <input type='email' name='email' autofocus required id='id_email' maxlength="254"/>
                          <label for='id_email'>Email</label>
                        </div>
                    </div>
        
                    <div class='row'>
                        <div class='input-field col s6'>
                            <input type='password' name='password1' autofocus required id='id_password1' />
                            <label for='id_password1'>Password</label>
                          </div>
        
                      
                        <div class='input-field col s6'>
                          <input type='password' name='password2' autofocus required id='id_password2' />
                          <label for='id_password2'>Conform Password</label>
                        </div>
                    </div>
                          
                    <div class="row margin">
                        <div class="input-field col s6">
                            <input id="id_Select_Group_0" name="Select_Group" value="indianteam" type="radio" />   
                                <label for="id_Select_Group_0">Indianteam</label>
                            
                        </div>

                        <div class="input-field col s6">
                                <input id="id_Select_Group_1" name="Select_Group" value="warehouse" type="radio" />   
                                    <label for="id_Select_Group_1">Warehouse</label>
                                </div>
                            </div>
           
                        <!-- <div class='row'>
                            
        
                            <div class="input-field col s4">
                                <p>
                                    <label for="id_recycler_zip">Zip:</label>
                                    <select style="display:block" name="recycler_zip" required id="id_recycler_zip">
                                        <option value="" selected disabled hidden></option>
                                        {% for zips in zip %}
                                        <option value={{zips.zip_id}}>{{zips.zip}}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                            </div>
                        </div> -->
        
                            
                    <br />
                    <center>
                      <div class='row'>
                        <button type='submit' name='btn_login' class='col s12 btn btn-large btn-custom waves-effect green' value="Login">SignUp</button>
                      </div>
                    </center>
                  </form>
</div>
</div>

</center>

</main>

{% endblock %}
