<form action="">
    {% csrf_token %}

<table id="datatable2" class="table order-column hover">
<thead>
<tr>
{% comment %} <th><input type="checkbox" id="checkAll"   ></th> {% endcomment %}

<th>po</th>
<th>Supplier Name</th>
<th>Courier Method</th>
<th>Directory Name</th>
<th>Order Date</th>
<th>status</th>
<th>Invoice Send</th>
<th>Remark</th>
<th>Buttons</th>


</tr>
</thead>

<tbody>
{% for order in query_results_order %}
<!--PO Number-->
<tr>

<td><a href="#">{{order.Purchase_Order_Number}}</a></td>

<!--company name-->



<!--Company Name-->

<td>{{order.Supplier_Name}}</td>

<!--Courier Method-->

<td></td>

<!--Directory_Name-->

<td></td>

<!--Directory_Name-->

<td></td>

<!--Status-->

<td></td>

<!--Directory_Name-->

<td></td>

<!--Remark-->

<td></td>


<td><a href="{% url 'details' pk=order.pk %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="glyphicon glyphicon-th-list"></i> </a>

<a href="{% url 'edit' pk=order.pk %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i> </a></td>
</tr>

{% endfor %}
</tbody>

</table>

</form>