{% extends "ordermanage/base.html" %}
 {% load staticfiles %}
  {% block title %}Dashboard{% endblock %}

{% block body %}

<section>
  <div class="section-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-head style-primary">
            <header>All Orders Data</header>
            <div class="tools">
              <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
              <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
            </div>
          </div>
          <div class="card-body">
            {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
        <div class="table-responsive">
            <form method="POST" >
                <table>
                  <tr>
                  <th>PO</th><td>&nbsp;&nbsp;</td>
                  <th>Case</th><td>&nbsp;&nbsp;</td>
                  <th>Weight</th><td>&nbsp;&nbsp;</td>
                  <th>Pallet</th><td>&nbsp;&nbsp;</td>
                  <th>Ship</th><td>&nbsp;&nbsp;</td>
                  <th>Must Deliver By Date</th><td>&nbsp;&nbsp;</td>
                  <th>5 Digit Destination Code</th><td>&nbsp;&nbsp;</td>
                  <th>4 Digit PO Type</th><td>&nbsp;&nbsp;</td>
                  <th>5 Digit Department Type</th><td>&nbsp;&nbsp;</td>
                  
                </tr>
                
                {% for query in query_result %}
                <tr>
                  <tr><td>{{query.PO}}</td><td>&nbsp;&nbsp;</td>
                  {% comment %} <td>{{query.AddressStore.Store_Nbr }}</td><td>&nbsp;&nbsp;</td> {% endcomment %}
                  <td>{{query.Cases}}</td><td>&nbsp;&nbsp;</td>
                  <td>{{query.Weight}}</td><td>&nbsp;&nbsp;</td>
                  <td>Y</td><td>&nbsp;&nbsp;</td>
                  <td>N</td><td>&nbsp;&nbsp;</td>
                  <td>{{ query.Carrier_Due_Date}}</td><td>&nbsp;&nbsp;</td>
                  <td>{{ query.AddressStore.Postal_Code }}</td><td>&nbsp;&nbsp;</td>
                  <td>33</td><td>&nbsp;&nbsp;</td>
                  <td>17</td><td>&nbsp;&nbsp;</td>
                  
               </tr>
                <!-- <tr>
                    <tr><td>{{query.PO}}</td><td>&nbsp;&nbsp;</td>
                    <td>{{ query.Store_Nbr }}</td><td>&nbsp;&nbsp;</td>
                    <td>{{query.PO_Number.Cases}}</td><td>&nbsp;&nbsp;</td>
                    <td>{{query.PO_Number.Pallets}}</td><td>&nbsp;&nbsp;</td>
                    <td>{{query.Address}}</td><td>&nbsp;&nbsp;</td>
                    <td>{{query.City}}</td><td>&nbsp;&nbsp;</td>
                    <td>{{ query.State_Or_Prov }}</td><td>&nbsp;&nbsp;</td>
                    <td>{{ query.Postal_Code }}</td><td>&nbsp;&nbsp;</td>
                    <td>January-5 2017</td><td>&nbsp;&nbsp;</td>
                    <td>HGH-WAL-01052017-01</td><td>&nbsp;&nbsp;</td>                    
                    <td>49693033</td><td>&nbsp;&nbsp;</td>
                    <td>{{query.PO_Number.Carrier_PU_Date}}</td><td>&nbsp;&nbsp;</td>
                 </tr> -->
                 
                {% endfor %}
                </table>
            </form>


        </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
