{% extends "ordermanage/base.html" %}
 {% load staticfiles %}
  {% block title %}Dashboard{% endblock %}

{% block body %}

<section>
  <div class="section-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-head style-primary">
            <header>All Orders Data</header>
            <div class="tools">
              <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
              <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
            </div>
          </div>
          <div class="card-body">
            {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
        <div class="table-responsive">
            <form method="POST" >
                <table>
                  <tr>
                  <th>DOC1</th><td>&nbsp;&nbsp;</td>
                  <th>Location</th><td>&nbsp;&nbsp;</td>
                  <th>Cases1</th><td>&nbsp;&nbsp;</td>
                  <th>Weight1</th><td>&nbsp;&nbsp;</td>
                  <th>Addr1</th><td>&nbsp;&nbsp;</td>
                  <th>City1</th><td>&nbsp;&nbsp;</td>
                  <th>State1</th><td>&nbsp;&nbsp;</td>
                  <th>Po1</th><td>&nbsp;&nbsp;</td>
                  
                </tr>
                
                {% for query in rout %}
                <tr>
                  <tr><td>{{query.PO}}</td><td>&nbsp;&nbsp;</td>
                  <td>{{query.AddressStore.Store_Nbr }}</td><td>&nbsp;&nbsp;</td>
                  <td>{{query.Cases}}</td><td>&nbsp;&nbsp;</td>
                  <td>{{query.Weight}}</td><td>&nbsp;&nbsp;</td>
                  <td>{{query.AddressStore.Address}}</td><td>&nbsp;&nbsp;</td>
                  <td>{{query.AddressStore.City}}</td><td>&nbsp;&nbsp;</td>
                  <td>{{ query.AddressStore.State_Or_Prov }}</td><td>&nbsp;&nbsp;</td>                  
                  <td>{{ query.AddressStore.Postal_Code }}</td><td>&nbsp;&nbsp;</td>
                  
               </tr>
               
                 
                {% endfor %}
                </table>
            </form>


        </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
