{% extends "ordermanage/base.html" %}
 {% load staticfiles %}
  {% block title %}Dashboard{% endblock %}

{% block body %}

<section>
  <div class="section-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-head style-primary">
            <header>All Orders Data</header>
            <div class="tools">
              <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
              <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
            </div>
          </div>
          <div class="card-body">
            {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
            <div class="table-responsive">
                
              <form action="#" method="POST">
              <input type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="float: right; margin-bottom: 25px;" value="Update">
                {% csrf_token %}
                <table id="datatable2" class="table order-column hover">
                  <thead>
                <tr>

            {% comment %} <th><input type="checkbox" id="checkAll"   ></th> {% endcomment %}
            
            <th><input type="checkbox" id="checkAll" ></th>
            
            <th>po</th>
            <th>Name</th>
            <th>Company Name</th>
            <th>Courier Method</th>
            <th>Ship Not Before</th>
            <th>Must Arrive Date</th>
            <th>Order Type</th>
            <th>Ship To</th>
            <th>Fob</th>
            <th>Fob Ship Point</th>
            <th>Truck Vendor Pool</th>
            <th>Supplier Number</th>
            <th>Carrier Date</th>
            <th>Directory Name</th>
            <th>Order Date</th>
            <th>status</th>
            <th>Invoice Send</th>
            
            <!-- <th>Remark</th> -->
            <th>Buttons</th>


          </tr>
        </thead>

        <tbody>
          
          {% for order in query_results_order%}
             
          <!--PO Number-->
          <tr>
            <td><input type="checkbox" name="selectCheckbox" id="{{order.po}}"></td>
            <td><a href="{% url 'details' pk=order.pk %}">{{order.po}}</a></td>

           <!--company name-->

              <td>{{order.name}}</td>

          <!--Company Name-->

              <td>{{order.company_name}}</td>

             <!--Courier Method-->

                <td>{{order.courier_method}}</td>
            <!--product Sku Method-->
            <!--Courier Method-->

            <td>{{order.courier_method}}</td>
            <!--Courier Method-->

            

            <!--Directory_Name-->

                <td>{{order.Directory_Name}}</td>

            <!--Directory_Name-->

                <td>{{order.order_date}}</td>

            <!--Status-->

                <td>{{order.status}}</td>

             <!--Directory_Name-->

                <td>{{order.invoice_send}}</td>

            <!--Remark-->
            
              
            

                <!-- <td>{{order.remark}}</td> -->
            
                  <td><a href="{% url 'details' pk=order.pk %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="glyphicon glyphicon-th-list"></i> </a>

                <a href="{% url 'edit' pk=order.pk %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i> </a></td>
            </tr>

          {% endfor %}
        </tbody>

      </table>
      {% comment %} <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="float: right; margin-bottom: 25px;">UPDATE</button> {% endcomment %}
    </form>
  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
