<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{header}}</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" enctype="multipart/form-data"  method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
