{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Dashboard{% endblock %} 
{% if request.user.is_authenticated and request.user.is_active %}

{% block body %}

<section id="content">    
    <div class="container">
        <!--card stats start-->
        <!-- <div class="modal-content"> -->
            {% if messages %}
                <ul class="messages">
                    <div id="modal1" class="modal">
                        <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </div>
                </ul>
            {% endif %}{{ block_quantity }}        
    </div>
</section>
<section>
    <div class="row">
        <div class="col m12 s12 ">
            <div class="card  card-box">
                <div class="card-head">
                    <header>create</header>
                    
                </div>
                <div class="card-body ">
                    <div class="table-wrap">
                        <div class="table-responsive">

                            

                               

                                <table id="data-table-simple" class="responsive-table display" cellspacing="0">

                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="checkAll"></th>
                                            <th>PO Number</th>
                                            <th>Name</th>
                                            <th>Courier Method</th>                                            
                                            <th>Shipper Name</th>
                                            <th>package</th>                                            
                                            <th>Button</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for order in queryset%}

                                        <!--PO Number-->
                                        <form action="#" method="POST">{% csrf_token %}
                                        <tr>
                                            <td><input class="checkbox" type="checkbox" name="selectCheckbox" id="{{order.pk}}" value="{{order.pk}}"></td>
                                            <td class="status" value="{{order.flag}}" style="background-color: green; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 50px;"><a href="{% url 'details' pk=order.pk %}" >{{order.po_number}}</a></td>
                                            <td >{{order.po_number.company_name}}</td>
                                            <td>{{order.po_number.courier_method}}</td>
                                            <td ><select>
                                                {% for i in shipper_name %}
                                                    <option value="{{i.username}}">{{i.username}}</option> {% endfor %}                                               
                                              </select> </td>
                                              <td ><select>{% for j in packaging_type %}
                                                <option name="{{j.package_name}}">{{j.package_name}}</option> {% endfor %}                                                
                                              </select></td>
                                            
                                           
                                            <td>
                                                <input type="submit" class="waves-effect waves-light btn" data-target="modal1" data-toggle="button" aria-pressed="false" autocomplete="off" style="float: right; " value="Create Labal">
                                            </td>
                                           

                                        </tr> </form> 

                                        {% endfor %}
                                    </tbody>
                                </table>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 {% endblock %} 



{% endif %}