<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
            <img src="data:image/gif;base64,{{ a }}" alt="Girl in a jacket">
        {% for dict in dict %}
            {{ dict|safe }}
        {% endfor %}
   </html>

