{% extends "ordermanage/base.html" %}
{% load staticfiles %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<section id="content">
</section>
<section class="table" style="padding-left:0px !important; ">
   <div class="row">
   <div class="col m12 s12 ">
   <div class="card  card-box">
   <div class="card-head">
      <header>{{ title }}</header>
      <div class="tools">
         <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
         <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
         <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
      </div>
   </div>
   <div class="card-body">
      <div class="table-wrap">
         <div class="table-responsive">
            {% if messages %}
            <ul class="messages">
               {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <p class="text-danger">{{ message }}</p>
                </li>
               {% endfor %}
            </ul>
            {% endif %}
            <div class="table-responsive">
               <form action="#" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% if "Shipper Account" in title %}
                  <table id="datatable2" class="table order-column hover">
                     <thead>
                        <tr>
                           {% comment %} 
                           <th><input type="checkbox" id="checkAll"></th>
                           {% endcomment %}
                           <th><input type="checkbox" id="checkAll" ></th>
                           <th>Name</th>
                           <th>Shipper Account Number:</th>
                           <th>phone Number</th>
                           <th>Address Line</th>
                           <th>City</th>
                           <th>State Code</th>
                           <th>Zip</th>
                           <th>Country</th>
                           <!-- <th>Button</th> -->
                        </tr>
                     </thead>
                     <tbody>
                        {% for queryset in queryset %}
                        <tr>
                           <td><input type="checkbox" name="selectCheckbox"></td>
                           <td style=" font-size: 14px;">{{ queryset.name }}</td>
                           <td style="font-size: 13px; padding-left: 0px;">{{ queryset.shipper_account_number }}</td>
                           <td style=" font-size: 13px;">{{ queryset.phon_number }}</td>
                           <td style="font-size: 14px;padding-left: 40px;">{{  queryset.address_line }}</td>
                           <td style=" font-size: 14px;">{{ queryset.city }}</td>
                           <td style="font-size: 13px; padding-left: 0px;">{{ queryset.state_province_code }}</td>
                           <td style=" font-size: 13px;">{{ queryset.postal_code }}</td>
                           <td style="font-size: 14px;padding-left: 40px;">{{  queryset.country_code }}</td>
                           <!-- <td><a href="{% url 'shop:edit' id=queryset.id %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i></a></td> -->
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
                  {% elif "ShipFrom List" in title %}
                  <table id="datatable2" class="table order-column hover">
                        <thead>
                           <tr>
                              {% comment %} 
                              <th><input type="checkbox" id="checkAll"></th>
                              {% endcomment %}
                              <th><input type="checkbox" id="checkAll" ></th>
                              <th>Name</th>
                              <th>Attention Name:</th>
                              <th>phone Number</th>
                              <th>Address Line</th>
                              <th>City</th>
                              <th>State Code</th>
                              <th>Zip</th>
                              <th>Country</th>
                              <!-- <th>Button</th> -->
                           </tr>
                        </thead>
                        <tbody>
                           {% for queryset in queryset %}
                           <tr>
                              <td><input type="checkbox" name="selectCheckbox"></td>
                              <td style=" font-size: 14px;">{{ queryset.name }}</td>
                              <td style="font-size: 13px; padding-left: 0px;">{{ queryset.attentionname }}</td>
                              <td style=" font-size: 13px;">{{ queryset.phon_number }}</td>
                              <td style="font-size: 14px;padding-left: 40px;">{{  queryset.address_line }}</td>
                              <td style=" font-size: 14px;">{{ queryset.city }}</td>
                              <td style="font-size: 13px; padding-left: 0px;">{{ queryset.state_province_code }}</td>
                              <td style=" font-size: 13px;">{{ queryset.postal_code }}</td>
                              <td style="font-size: 14px;padding-left: 40px;">{{  queryset.country_code }}</td>
                              <!-- <td><a href="{% url 'shop:edit' id=queryset.id %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i></a></td> -->
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  
                  {% endif %}
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}