{% load staticfiles %}

<!-- BEGIN META -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="">
<meta name="description" content="">
<!-- END META -->

<!-- BEGIN STYLESHEETS -->



<!-- <link type="text/css" rel="stylesheet" href="{% static 'ordermanage/css/bootstrap.css' %}" /> -->
<link type="text/css" rel="stylesheet" href="{% static 'ordermanage/css/materialadmin.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ordermanage/css/material-design-iconic-font.min.css' %}" />{#used to display iconic#}

<link href="{% static 'ordermanage/img/logo1.png' %}" rel="shortcut icon">