{% load staticfiles %}


<script src="{% static 'ordermanage/js/libs/jquery/jquery-1.7.1.min.js' %}"></script>
<script src="{% static 'ordermanage/js/libs/jquery/jquery-1.11.2.min.js' %}"></script>{#udsed for search, pagination nd no of entries#}
<script src="{% static 'ordermanage/js/libs/DataTables/jquery.dataTables.min.js' %}"></script>{#udsed for search, pagination nd no of entries#}
<script src="{% static 'ordermanage/js/core/App.js' %}"></script>  {#used for hide sidebar #}
<script src="{% static 'ordermanage/js/core/AppNavigation.js' %}"></script> {#used to highlight iconic #}
<script src="{% static 'ordermanage/js/core/AppCard.js' %}"></script> {#used for scroll list details #}
<script src="{% static 'ordermanage/js/core/Demo.js' %}"></script>{#used for hide list details #}
<script src="{% static 'ordermanage/js/core/DemoTableDynamic.js' %}"></script>{#udsed for search, pagination nd no of entries#}



{#used to select all checkboxes #}
<script type="text/javascript">
    $(function(){
      $("#checkAll").click(function () {
        $("input[name='selectCheckbox']").attr("checked", this.checked);

        $("input[name='selectCheckbox']").click(function () {
            if ($("input[name='selectCheckbox']").length == $("input[name='selectCheckbox']:checked").length) {
                $("#checkAll").attr("checked", "checked");
            }
            else {
                $("#checkAll").removeAttr("checked");
            }
        });

    });
  });
</script>


{#used to chnage color according to quantity #}
<script>
var els = document.getElementsByClassName('TransactionAmount');
for (var i = 0; i < els.length; i++) {
  var cell = els[i];
  if (cell.textContent <= 0) {
    cell.classList.remove('green')
    cell.classList.add('red')
  }
  else if (cell.textContent < 50 ){
    cell.classList.remove('red');
    cell.classList.add('orange');

  }
  else if (cell.textContent > 50 ){
    cell.classList.remove('orange');
    cell.classList.add('green');
  }
}
</script>
<!---add extra field -->

<!-- <script>
form_count = Number($("[name=extra_field_count]").val());
// get extra form count so we know what index to use for the next item.

$("#add-another").click(function() {
    form_count ++;

    element = $('<input type="text"/>');
    element.attr('name', 'extra_field_' + form_count);
    $("#forms").append(element);
    // build element and append it to our forms container

    $("[name=extra_field_count]").val(form_count);
    // increment form count so our view knows to populate
    // that many fields for validation
})
</script> -->
<script>
  $(document).ready(function() {
    var optionSelect = '<div class="" style="margin-top:10px; margin-bottom:10px;" id="item1"><table><select name="new_Sku1" style="margin-right:20px;" id="new_Sku1"><option class="new_Sku" name="new_Sku">Select</option>{%for item in queryset_shop %}<option data-incr_value="1" value="{{item.company_sku}}" name="new_Sku">{{item.company_sku}}</option>{% endfor%}</select>' +
      '<input type=text value="1" name="qty">' + '<input type="button" value="delete" id="delete"></table></div> ';
    
    $("#add").click(function(e) {
      var incr=1;
     $("#item").append(optionSelect);
        //  var attrValue = $('option:selected', this).attr('data-incr_value');
        var attrValue = $('#new_Sku1 option:selected').attr('data-incr_value');
        console.log("attr value is:"+status);
       // $("#new_Sku1 option[data-incr_value='"+attrValue+"']").remove();
        $("#new_Sku1 option[data-incr_value='"+attrValue+"']").attr("selected","selected");
       

    });

    $('body').on('click', '#delete', function(e) {
      $(this).parent('div').remove()
    });
$("#new_Sku1").on("change", function(){
  alert("ABC");
  var mval = $('#new_Sku1').val();
  alert(mval);
});
  var hideOptions = function() {
    var $select = $('#new_Sku1');
    //var editid = $(this).attr("new_Sku1");
   // alert($select);
    $select.find('option').show();
    $select.each(function() {
      var $this = $(this);
      var value = $this.val();
      var $options = $this.parents('table').find('select').not(this).find('option');
      var $option = $options.filter('[value="' + value + '"]');
      //alert ($option)
      if (value) {
        $option.remove();
        $option.each(function() {
          if (this.defaultSelected) {
            $(this).parent('select').val('new_Sku');
          }
        });
      }
    });
  }
  //var all = $(".new_Sku").map(function() {
    //returns this.innerHTML;
 // }).get();
  //$("p").html(all.join());

  //hideOptions();

  $(document).on('change','#new_Sku1', function() {
      hideOptions();
    });
  });

</script>
<!-- <script>
  $(document).ready(function() {

  });

</script> -->
