{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Dashboard{% endblock %} 
{% if request.user.is_authenticated and request.user.is_active %}

{% block body %}

<section id="content">

    <div class="container">        
            {% if messages %}
            <ul class="messages">
                <div id="modal1" class="modal">
                    <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </div>
            </ul>
            {% endif %}{{ block_quantity }} 

        <div id="card-stats">
            <div class="row">
                <div class="col s12 m6 l3">
                    <a href="{% url 'openorder' %}">
                        <div class="card">
                            <div class="card-content cyan white-text">
                                <p class="card-stats-title">
                                    <i class="material-icons">add_shopping_cart</i> Total Open orders </p>
                                <h4 class="card-stats-number">{{ open }}</h4>
                                <p class="card-stats-compare">
                                    <i class="material-icons">keyboard_arrow_up</i>
                                    <span class="cyan text text-lighten-5">Operation Status</span>
                                </p>
                            </div>
                            <div class="card-action cyan darken-1">
                                <div id="clients-bar" class="center-align"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l3">
                    <a href="{% url 'whopenorder' %}">
                        <div class="card">
                            <div class="card-content red accent-2 white-text">
                                <p class="card-stats-title">
                                    <i class="material-icons">folder_open</i>Total Open orders for Wharehouse</p>
                                <h4 class="card-stats-number">{{ warehouse_open }}</h4>
                                <p class="card-stats-compare">
                                    <i class="material-icons">keyboard_arrow_up</i>
                                    <span class="red-text text-lighten-5">Warehouse Status</span>
                                </p>
                            </div>
                            <div class="card-action red darken-1">
                                <div id="sales-compositebar" class="center-align"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l3">
                    <a href="{% url 'twodaysopen' %}">
                        <div class="card">
                            <div class="card-content teal accent-4 white-text">
                                <p class="card-stats-title">
                                    <i class="material-icons">folder_open</i> Total open orders
                                    < 2 Days</p>
                                        <h4 class="card-stats-number">{{ twodays }}</h4>
                                        <p class="card-stats-compare">
                                            <i class="material-icons">keyboard_arrow_up</i>
                                            <span class="teal-text text-lighten-5">From Last 2 Days</span>
                                        </p>
                            </div>
                            <div class="card-action teal darken-1">
                                <div id="profit-tristate" class="center-align"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l3">
                    <a href="{% url 'threedaysopen' %}">
                        <div class="card">
                            <div class="card-content deep-orange accent-2 white-text">
                                <p class="card-stats-title">
                                    <i class="material-icons">content_copy</i>Total Open Orders > 3 Days</p>
                                <h4 class="card-stats-number">{{ threedays }}</h4>
                                <p class="card-stats-compare">
                                    <i class="material-icons">keyboard_arrow_down</i>
                                    <span class="deep-orange-text text-lighten-5">From Last 3 Days</span>
                                </p>
                            </div>
                            <div class="card-action  deep-orange darken-1">
                                <div id="invoice-line" class="center-align"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col s12">
            <div class="col s12 m6 l6">
                <div class="card  card-box" style="overflow-y: scroll;">
                    <div class="card-head">
                        <header>Notifications</header>
                    </div>
                    <div class="card-body no-padding height-9">
                        <div class="row">
                            <div class="noti-information notification-menu">
                                <div class="notification-list mail-list not-list small-slimscroll-style">
                                    <!-- <div class="col s9"> -->
                                    {% if notification %}
                                    {% for notification in notification %}
                                    {% if notification.comment %}
                                    <a href="{% url 'details' pk=notification.remark_po.pk %}" class="single-mail">
                                        <span class="icon bg-primary"><i class="material-icons">mail_outline </i></span>
                                        <span class="text-purple">{{ notification.user }}</span>
                                        <!-- {{ notification.remark_po.remark}} -->
                                        <div><span class="notificationcolor">{{ notification.comment |truncatechars:75}}</span></div>
                                        <span class="notificationtime">                                           
                                                        <small>{{ notification.date }}</small>
                                                    </span>
                                    </a>

                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <a href=#><img src="/static/ordermanage/img/logo.png" style="width:100%; height: 70%;"></a>                               

                                    {% endif %}
                                    
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'shop:product_list' %}">
                <div class="col s12 m6 l6">
                    <div class="card  card-box">
                        <div class="card-head">
                            <header>Inventory</header>

                        </div>

                        <div id="donutchart" style="width: 600px; height: 390px;"></div>



                    </div>
                </div>
            </a>

        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col m12 s12 ">
            <div class="card  card-box">
                <div class="card-head">
                    <header>Orders</header>
                    <!-- <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div> -->
                </div>
                <div class="card-body ">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <form action="#" method="POST">
                                <input type="submit" class="waves-effect waves-light btn" data-target="modal1" data-toggle="button" aria-pressed="false" autocomplete="off" style="float: right; " value="Update">
                                <!-- <a class="btn-floating btn-large waves-effect waves-light green" type="submit" value="Update"><i class="material-icons">update</i></a> -->
                                <!-- <a class="btn btn-primary" data-toggle="button" aria-pressed="false" style="float: right; margin-bottom: 25px; margin-right:20px;" value="create" href="{% url 'create' %}">Add New <i class="fa fa-plus"></a></i> -->
                                {% if "indianteam" in group1 or "superuser" in group1 %}
                                <a class="btn-floating btn-medium waves-effect waves-light red" href="{% url 'create' %}"><i class="material-icons">add</i></a> {% csrf_token %}
                                {% endif %}
                                <p>{{ group1 }}</p>
                                <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                                    <thead>
                                        <tr>
                                            {% comment %}
                                            <hr>
                                            <th><input type="checkbox" id="checkAll"></th> {% endcomment %}
                                            <th><input type="checkbox" id="checkAll"></th>
                                            <th>PO Number</th>
                                            <th>Name</th>
                                            <th>Courier Method</th>
                                            <th>Directory Name</th>
                                            <th>Status</th>
                                            <th>Create Date</th>
                                            <th>Order Date</th>
                                            {% comment %}
                                            <th>Order Quantity</th> {% endcomment %}
                                            <th>Warehouse Status</th>
                                            <th>ASN Sent</th>
                                            <th>Invoice Send</th>
                                            <th>Pick Up Date</th>
                                            <th>Author</th>
                                            <!-- <th>Flag</th> -->
                                            <th>Button</th>




                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for order in query_results_order%}

                                        <!--PO Number-->
                                        <tr>
                                            <td><input class="checkbox" type="checkbox" name="selectCheckbox" id="{{order.pk}}" value="{{order.pk}}"></td>
                                            {% comment %} <td class="status" value="{{order.flag}}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 50px;"><a href="{% url 'details' pk=order.pk %}" >{{order.po}}</a></td> {% endcomment %}
                                            <td class="status" data-color="{{order.company_name.Product_SKU.available_quentity}}" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 50px;" ><a href="{% url 'details' pk=order.pk %}" >{{order.po}}</a></td> 
                                            
                                           
                                            
                                            <!--Flag -->

                                            <td >{{order.company_name.company_name}}</td>

                                            <!--Company Name-->

                                            <!-- <td>{{order.company_name}}</td> -->

                                            <!--Courier Method-->

                                            <td>{{order.courier_method}}</td>
                                            <!--product Sku Method-->


                                            <!--Directory_Name-->

                                            <td>{{order.Directory_Name}}</td>

                                            <!--Directory_Name-->
                                            <td class="contentstatus">{{order.status}}</td>

                                            <td>{{order.order_date}}</td>


                                            <td>{{order.order_po_date}}</td>

                                            <!--Status-->
                                            {% comment %}
                                            <td>{{order.order_quantity}}</td> {% endcomment %}

                                            <td class="contentstatus">{{order.warehouse_staff_status}}</td>
                                            <td>{{order.asn_sent}}</td>

                                            <!--Directory_Name-->

                                            <td>{{order.invoice_send}}</td>

                                            <td>{{order.pickup_date}}</td>

                                            <!--Remark-->

                                            <td>{{order.user}}</td>
                                            <!-- <td>{{order.flag}}</td> -->



                                            <!-- <td>{{order.remark}}</td> -->

                                            <!-- <td><a href="{% url 'details' pk=order.pk %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="glyphicon glyphicon-th-list"></i> </a> -->
                                            <td>
                                            {% if "warehouse" in group1 %}
                                                <a href="{% url 'active' pk=order.pk %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i> </a>
                                            {% else %}
                                                {% if "CLOSE" in order.warehouse_staff_status %}
                                                    <a href="{% url 'edit' pk=order.pk %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i> </a>
                                                {% else %}
                                                    <a href="{% url 'update' pk=order.pk %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i> </a>
                                                {% endif %}
                                            {% endif %}
                                            </td>
                                           

                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

 {% endblock %} 



{% endif %}
