<!--==========================================================================
    Project Name: OrderManage
    Theme Name: Sidebar 
    URL: https://eknous.com
    Author: eKnous Technology Solutions
    License: https://eknous.com/license/
===========================================================================-->



{% load staticfiles %}

<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse ">
    <div class="menubar-fixed-panel">


    </div>
    <div class="menubar-scroll-panel">


        <!-- BEGIN MAIN MENU -->
        <ul id="main-menu" class="gui-controls">

            <li class="menu-1">

                <div class="gui-icon"><i class="md-perm-identity"></i></div>
                <h6 class="user"><span class="title">{{ user }}</span ></h6>
            </li>

            <!-- BEGIN DASHBOARD -->
            <li class="menu-1">
                {% comment %} <a href="{% url 'index' %}" class="active"> {% endcomment %}
                <a href="{%url 'index'%}">
                <div class="gui-icon"><i class="md md-home" ></i></div>
                <h6><span class="title">Dashboard</span></h6>
                </a>
            </li>
            <!--end /menu-li -->
            <!-- END DASHBOARD -->


            
        

            <!--fOR WARE HOUSE dASHBOARD -->
            {% if request.user.is_superuser or "indianteam" in group1.name  %}
            <!-- BEGIN ORDER -->
                <li>
                    <a class="gui-folder " data-toggle="dropdown">
                        <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">add_shopping_cart</i></div>
                        <h6><span class="title">Order Manage</span></h6>
                    </a>

                    <!--start submenu -->
                    <ul>
                        <li class="gui-folder ">
                            <!-- <a href="{% url 'index' %}"><span>Order Manage Dasboard</span></a> -->
                        </li>
                        <li class="gui-folder ">
                            <a href="{% url 'create' %}"><span>Create Order</span>
                            </a>
                        </li>

                    </ul>
                    <!--end /menu-li -->
                </li>
            {% endif %}
           
                <li>
                    <a class="gui-folder " data-toggle="dropdown">
                        <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">add_shopping_cart</i></div>
                        <h6><span class="title">Inventry Dashboard </span></h6>
                    </a>
                    <ul>
                        <li class="gui-folder ">
                            <a href="{% url 'shop:product_list' %}">
                                <span>Inventry Dashboard </span></a>
                        </li>
                        
                        <li class="gui-folder ">
                            <a href="{% url 'shop:company_stock' %}">
                                <span>Inventry Quantity </span>
                            </a>
                        </li> 
                        <li class="gui-folder ">
                            <a href="{% url 'shop:company' %}">
                                <span>Company</span>
                            </a>
                        </li>
                        <li class="gui-folder ">
                            <a href="{% url 'courier-method' %}">
                                <span>Courier Method</span>
                            </a>
                        </li>
                        {% if request.user.is_superuser or "warehouse" in group1.name  %}
                        <li class="gui-folder ">
                            <a href="{% url 'shop:create' %}">
                                <span>Create Inventry</span>
                            </a>
                        </li>
                        <li class="gui-folder ">
                            <a href="{% url 'shop:addcompany' %}">
                                <span>Add Company Sku</span>
                            </a>
                        </li>
                        <li class="gui-folder ">
                            <a href="{% url 'shop:category' %}">
                                <span>Create Category</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                
               

                
                <li class="menu-1">
                    <a href="{% url 'logout' %}?next={% url 'mvp' %}">
                        <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">power_settings_new </i></div>
                        <h6><span class="title">Logout</span ></h6>
                    </a>
                </li>
        </ul><!--end .main-menu -->
          <!-- END MAIN MENU -->
      
      
        </div><!--end .menubar-scroll-panel-->
      </div><!--end #menubar-->
      <!-- END MENUBAR -->