{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Detail{% endblock %} {% if user.is_authenticated %} {% if user.is_active %} {% block body %}

<section>
    <div class="section-body">
        <div class="row">
            <p>this is active details page </p>
            <!-- BEGIN  - FORM -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>{{ order_details.po}}</header>
                        <div class="tools">

                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="container">
                            <br>
                            <form class="form-horizontal" action="/ordermanage/" method="POST" id="details_form">{% csrf_token %} {% comment %} {% If user.is_authenticated %} {% endcomment %}
                                <div class="form-group floating-label">
                                    <label class="control-label col-sm-3 font-weight-bold" for="po"><h2>User Name:</h2></label>
                                    <div class="col-sm-9">


                                        <h2 class="text-uppercase">{{ order_details.user}} </h2>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group floating-label">
                                    <label class="control-label col-sm-2" for="po">PO:</label>
                                    <div class="col-sm-10">

                                        <p>
                                            <h4>{{ order_details.po}} </h4>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Comapany">Comapany Name:</label>
                                    <div class="col-sm-10">

                                        <p>
                                            <h4>{{ order_details.name}} Online</h4>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Date_Of_PO">Date Of PO:</label>
                                    <div class="col-sm-10">

                                        <p>
                                            <h4>{{ order_details.order_date}} </h4>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Directory_Name">Directory Name:</label>
                                    <div class="col-sm-10">

                                        <p>
                                            <h4>{{ order_details.courier_method}}</h4>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Status" id="select_status">Status:</label>
                                    <div class="col-sm-2">
                                        <p>
                                            <h4> {{ order_details.status }}</h4>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Status" id="select_status">Wh Status:</label>
                                    <div class="col-sm-2">
                                        <p>
                                            <h4> {{ order_details.warehouse_staff_status }}</h4>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Status" id="select_status">Invoice:</label>
                                    <div class="col-sm-2">
                                        <p>
                                            <h4> {{ order_details.invoice_send }}</h4>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Status" id="select_status">Pickup Date:</label>
                                    <div class="col-sm-2">
                                        <p>
                                            <h4> {{ order_details.pickup_date }}</h4>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Status" id="select_status">Carrier Date:</label>
                                    <div class="col-sm-2">
                                        <p>
                                            <h4> {{ order_details.carrier_date }}</h4>
                                        </p>
                                    </div>
                                </div>
                                {% for order_quantity in order_quantity%}

                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="Date_Of_PO" style="float:left">Company SKU & Quantity:</label>
                                    <div class="col-sm-8"><td>{% for order_quantity in order_quantity%} {{ order_quantity.vendor_SKU}} & Qty {{ order_quantity.order_quantity}} {% endfor%}</td>

                                        
                                    </div>
                                </div>
                                {% endfor%}
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Date_Of_PO">Courier Method:</label>
                                    <div class="col-sm-10">

                                        <p>
                                            <h5>{{ order_details.courier_method}} </h5>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Directory_Name">Remark:</label>
                                    <div class="col-sm-5">
                                        <p>
                                            <h5>{{ order_details.remark}} </h5>
                                        </p>
                                        <!-- <textarea class="form-control" rows="5" id="Remark" placeholder="{{order_details.remark}}">{{order_details.remark}}</textarea> -->
                                    </div>
                                </div>
                                {% for i in remark2 %}
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Date_Of_PO">WereHouse Remark:</label>
                                    <div class="col-sm-10">

                                        <p>
                                            
                                            <h5>{{ i.comment}}</h5>
                                            <h5> <label>Edited By: &nbsp;&nbsp;&nbsp;&nbsp;   </label> {{ i.user}} </h5>
                                            <h5> <label>Edited By: &nbsp;&nbsp;&nbsp;&nbsp;   </label> {{ i.date}} </h5>
                                        </p>
                                    </div>
                                </div>
                                {%endfor%}
                                <hr>

                                <!-- <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10 ">

                                        <a href="{% url 'active' pk=order_details.pk %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i> </a>
                                        <input type="submit" class="btn btn-default" href="/ordermanage" value="Close">

                                    </div>
                                </div> -->
                                {% comment %} {% endif %} {% endcomment %}
                            </form>

                        </div>
                    </div>
                    <!--end .card-body -->
                </div>
                <!--end .card -->
            </div>
            <!--end .col -->
            <!-- END FORM - TIME ON SITE -->

        </div>
        <!--end .row -->
    </div>
    <!--end .section-body -->
</section>
{% endblock %} {% endif %}
<h1>You are not authorized to view this page.</h1>

{% endif %}