{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Status Update{% endblock %} {% block body %}

<section>
    <div class="section-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>Status Update</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                        <ul class="messages">
                            <div id="modal1" class="modal">
                                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                    {% endfor %}
                            </div>
                        </ul>
                        {% endif %}
                        <div class="table-responsive">

                            <form action="#" method="POST">
                                <input type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="float: right; margin-bottom: 25px;" value="Update"> {% csrf_token %}
                                <table id="datatable2" class="table order-column hover">
                                    <thead>
                                        <tr>

                                            {% comment %}
                                            <th><input type="checkbox" id="checkAll"></th> {% endcomment %}

                                            <th><input type="checkbox" id="checkAll"></th>

                                            <th>po</th>
                                            <th>Name</th>
                                            <th>Company Name</th>
                                            <th>Courier Method</th>

                                            <th>Directory Name</th>
                                            <th>Order Date</th>
                                            <th>status</th>
                                            <th>Invoice Send</th>

                                            <!-- <th>Remark</th> -->



                                        </tr>
                                    </thead>

                                    <tbody>

                                        {% for order in query_results_order%}

                                        <!--PO Number-->
                                        <tr>
                                            <td><input type="checkbox" name="selectCheckbox" id="{{order.po}}"></td>
                                            <td><a href="{% url 'details' pk=order.pk %}">{{order.po}}</a></td>

                                            <!--company name-->

                                            <td>{{order.name}}</td>

                                            <!--Company Name-->

                                            <td>{{order.company_name}}</td>

                                            <!--Courier Method-->

                                            <td>{{order.courier_method}}</td>
                                            <!--product Sku Method-->


                                            <!--Directory_Name-->

                                            <td>{{order.Directory_Name}}</td>

                                            <!--Directory_Name-->

                                            <td>{{order.order_date}}</td>

                                            <!--Status-->

                                            <td>{{order.status}}</td>

                                            <!--Directory_Name-->

                                            <td>{{order.invoice_send}}</td>

                                            <!--Remark-->




                                            <!-- <td>{{order.remark}}</td> -->


                                        </tr>

                                        {% endfor %}
                                    </tbody>

                                </table>
                                {% comment %} <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="float: right; margin-bottom: 25px;">UPDATE</button> {% endcomment %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}