{% extends "ordermanage/base.html" %} {% load crispy_forms_tags %} {% load staticfiles %} {% block title %}Edit{% endblock %} {% if user.is_authenticated %} {% if user.is_active %} {% block body %}


<section>
    <div class="section-body">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-head">
                        <header>Edit PO</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <a href="/ordermanage/" class="btn btn-icon-toggle btn-close">
                                <i class="md md-close"></i>
                            </a>
                        </div>
                    </div>


                    {% if messages %}
                    <ul class="messages">
                        <div id="modal1" class="modal">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                        </div>
                    </ul>
                    {% endif %} {{ block_quantity }}
                    <!-- Form start-->
                    <div class="card-body">
                        <form class="col s12" action="#" method="POST">{% csrf_token %}

                            <div class="row">

                                <div class="input-field col s6">


                                    <p><label>{{ form.po.label }}:</label> {{form.po}}
                                </div>

                               
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <p><label>{{ form.pickup_date.label }}:</label>
                                        <input type="date" name="pickup_date" id="id_pickup_date"></p>
                                </div>

                                <div class="input-field col s6">
                                    <p><label>{{ form.asn_sent.label }}:</label> {{form.asn_sent}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">


                                    <p><label>{{ form.invoice_send.label }}:</label> {{form.invoice_send}}</p>
                                </div>

                                <div class="input-field col s6">
                                    <p><label>{{ form.status.label }}:</label> {{form.status}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">


                                    <p><label>{{ form.warehouse_staff_status.label }}:</label> {{form.warehouse_staff_status}}
                                    </p>
                                </div>

                                <div class="input-field col s6">
                                    <p><label>Remark :</label> {{form.Warehouse_remark}}
                                </div>
                            </div>



                            <div class="row">
                                <div class="col s12">

                                    <div class="col 4 input-field">
                                        <div class=" input-field">
                                            <button class="btn cyan waves-effect waves-light right" type="submit" value="SUBMIT">Submit
                                                <i class="material-icons right">send</i>
                                                

                                        </div>
                                    </div>
                                    


                                </div>
                        </form>
                        </div>
                        <div class="col s4 closebutton">

                                <a href=" /ordermanage/"><button type="submit" class="btn waves-effect waves-light"><i class=" close material-icons right white-text">close</i>Close</button>

                                        </a>

                                    </div>
                                </div>

                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %} {% endif %}
<h1>You are not authorized to view this page.</h1>

{% endif %}